<header id="header">
    <a href="{{ site.baseurl }}" class="logo"><strong>{{ site.title }}</strong><br />{{ site.position }}</a>
    <ul class="icons">
    	<!-- <li><a href="{{ site.blogs }}" class="button small">Blog</a></li> -->
        <li><a href="https://github.com/{{ site.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://linkedin.com/in/{{ site.linkedin }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="{{ site.wordpress }}" class="icon fa-wordpress"><span class="label">Blog</span></a></li>
    </ul>
</header>
<br>

